@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/regular/OpenSans.eot');
    src: url('../fonts/regular/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular/OpenSans.woff') format('woff'),
        url('../fonts/regular/OpenSans.ttf') format('truetype'),
        url('../fonts/regular/OpenSans.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/SemiBold/OpenSans-Semibold.eot');
    src: url('../fonts/SemiBold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SemiBold/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/SemiBold/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/SemiBold/OpenSans-Semibold.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/bold/OpenSans-Bold.eot');
    src: url('../fonts/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/OpenSans-Bold.woff') format('woff'),
        url('../fonts/bold/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/bold/OpenSans-Bold.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

.popover{position:fixed;}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.carousel-indicators li{
    width: 227px !important;
    border-radius: 0px !important;
}
.carouselClick{
    cursor: pointer;
    color: white;   
}
.fontsize{
    font-size: 30px;  
}
.bandcolor{
    background-color: black;
}

.textcolor{
    color: white !important;  
}
.mt001{
    font-size: 22px !important;   
    margin-bottom: 20px !important;    
}
.setMargin{
    margin-top: 30px;
    margin-bottom: 30px; 
}
.containermargin{
    margin-top: 40px;  
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 40% !important;
    z-index: 15;
    width: 80% !important;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.navbar {
    background-color: white; 
}     


#menu, .columns{
    background-color: white !important;
}

.margni{
    margin-top: 50px;
    margin-bottom: 50px;
}

.setup{
    margin-top: 25px;
}

.colorgrey{
    background-color: #404041;
}

.dropdown-menu>li>a {
    color: white !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    border-bottom:3px solid #9ac83c;
}

ul.nav a:hover { color: #9ac83c !important; }

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #404041 !important;   
    color: #9ac83c !important;
}

.dropdown-menu>li>a{
    background-color: #404041 !important;    

}



ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

ul.nav li.dropdown:hover > ul.dropdown-submenu {
    display: block;    
}

.navbar-default .navbar-nav>li>a {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;   
    color: black;
}

.navbar-nav>li>.dropdown-menu {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px; 
    color: black;
}

.navbar-brand>img {
    height: 93px;
    display: block;
    margin-top: -22px;

}

.colorgrey li {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #ffffff;
}

.nav {
    padding-left: 61px !important;
}

.hight{
    height:85px;
}


.fontcolor p{
    color: black !important;
}

.bt_socialbuttons {
    width: 500px;
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    float: left;
}

.img_container {
    position:relative;
    display:inline-block;
    text-align:center;

}

.opn {
    margin: auto;
    position:absolute;
    bottom: 65%;
    right: 40%;

}
.owl-item{
    width: auto !important;   
}

.myitem img{
    display: block;
    width: 176px;
    height: 96px;    
    height: auto;
    -webkit-filter: grayscale(96%);
    filter: gray; filter: grayscale(96%);
}
.owl-pagination {
    display: none;
}

#owl-demo .myitem{
    margin: 3px !important; 
}

.fullwidth img{
    /* width: 100% !important; */
}

.benifits img{
    padding-right: 20px;

}

.benifits{
    padding-left: 154px;
    text-align: left;
}

.carous1{

    /* padding-left: 0px !important; */ 
}
.carous2{
    padding-right: 63px;
}
@media (min-width: 1200px){
    .newwidth {
        width: 1264px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (min-width: 768px){
.carous1{
    /* padding-left: 0px; */ 
}
.carous2{
    padding-right: 0px;
}
}