<div class="container-fluid fullwidth" style="margin-bottom: 35px; padding-right: 0px !important; padding-left: 0px !important;">
    <img src="img/y.jpg" class="img-responsive" alt="Responsive image">
    <!--<button type="button" class="opn btn btn-success btn-lg" aria-haspopup="true" aria-expanded="false"> View Job Openings  </button> -->
    <div class="container">
    <div class="row">
        <h2 class="benifitsperks">Benefits And Perks Of Working At ACH</h2>
        
        <div class="col-sm-6  text-center benifits">
            <h3><img src="img/benefits.jpg" />Benefits</h3>
            <p class="text-left">We offer great benefits including Medical & Dental, and 401(k) with matching</p>
        </div>
        <div class="col-sm-6 text-center benifits">
            <h3><img src="img/work environment.jpg" />Work Environment</h3>
            <p>Our work environment is fun, casual and team-oriented</p>
        </div>
         <div class="col-sm-6  text-center benifits">
            <h3><img src="img/career growth.jpg" />Career Growth</h3>
            <p class="text-left">We offer great benefits including Medical & Dental, and 401(k) with matching</p>
        </div>
         <div class="col-sm-6  text-center benifits">
            <h3><img src="img/e.jpg" />Attire</h3>
            <p class="text-left">We offer great benefits including Medical & Dental, and 401(k) with matching</p>
        </div>
    <!--   <div class="col-sm-6  text-center benifits">
            <h3><img src="img/e.jpg" />John Smith</h3>
            <p class="text-left">We offer great benefits including Medical & Dental, and 401(k) with matching</p>
        </div> -->
       
    </div>
        <h2 class="fitfont">You'll fit right in.</h2>
        <div class="divider"></div>
        <p class="text-center fitpadding">Team ACH is just 50 people team a tiny footprint for what’s happened since last 10 years and we wish to grow more than 100 in coming years. Every day brings new challenges and opportunities with fun. This is the place where you will never be bored. Our policies make people stay for lifetime and shape their career.</p>
        
    </div>
  
    <div class="container-fluid unFoldingbanner">
            <div class="row careerUnfolding">
          <h2 class="fitfont">Unfolding Potential</h2>
        <div class="divider"></div>
        <p class="text-center fitpaddingUnfolding">Unfolding your inner potential will make you soar and to pursue challenging dream which will uncover talents and strengths that you never knew you had.</p>
        <p class="text-center fitpaddingUnfolding" style="margin-bottom: 35px;">Unfolding potential retreats you from safe and comfortable place and will force you to push yourself to make use of your hidden talent.</p>
  
    </div>
    </div>
        
</div>